@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

// Font
$outfit: "Outfit", sans-serif;

// Colors
$soft: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyan-hover: rgba(0, 255, 247, 0.5);
$body-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$dark: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

.attribution {
  font-size: 14px;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  color: $white;
  padding-inline: 0.5em;
}
.attribution a {
  color: $cyan;
}

img {
  width: 100%;
  display: block;
}

@mixin breakpoint($size) {
  @media (min-width: $size) {
    @content;
  }
}
